.main {
    position: relative;
    padding: 0;
    margin: 0;
    background: url('../img/gedung.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
aside {
    background: #fff;
    position: absolute;
    left: 0;
    top: 0;
    width: 28%;
    border-right: 1px solid rgba(0,0,0,0.25);
}
.login-wrapper {
    height: 100vh;
    padding: 40px;
}
.form-group label {
    font-size: 14px;
}

@media screen and (max-width:756px) {
    aside {
        width: 100%;
    }
}