body {
    background: #F3F3F3 !important;
}
.header, main {
    padding: 35px 40px;
}
.header h1 {
    font-size: 22px;
    font-weight: 400;
    margin: 0;
    color: #181818;
}
.header h1 strong {
    color: #0052D9;
}
.header .dropdown-menu {
    padding: 0 !important;
}
.header .dropdown-menu li a {
    padding: 10px 15px;
}
.breadcrumb-container{
    margin: 30px 0;                
}
.breadcrumb-container h1 {
    font-size: 33px;
}
main {
    min-height: 80vh;
}
.main-body {
    padding: 50px;
    border-radius: 5px;
    background: #fff;
}
ul.step {
    display: flex;
    padding: 0;
    margin: 0;
}
ul.step li {
    display: flex;
    position: relative;
    align-items: center;
    list-style: none;
    padding: 0;
    padding-right: 100px;
    margin: 0;
    z-index: 1;
}
ul.step li .step-number {
    border: 1px solid #ddd;
    border-radius: 50%;
    width: fit-content;
    padding: 7px 15px;
    font-size: 15px;
    color: #ddd;
    background: #fff;
    z-index: 2;
}
ul.step li .step-content {
    padding: 0 15px;
    background: #fff;
    z-index: 2;
}
ul.step li .step-content h4 {
    font-size: 20px;
    margin-bottom: 5px;
}
ul.step li .step-content small {
    font-size: 14px;
    color: rgba(0,0,0,0.5);
}
ul.step li .step-border {
    position: absolute;
    background: #ddd;
    height: 2px;
    width: 95%;
    z-index: 0;
}
ul.step li.finish .step-number {
    background: #0052D9;
    border: 1px solid #0052D9;
}
ul.step li.finish .step-border {
    background: #0052D9;
}
ul.step li.active .step-number {
    color: #0052D9;
    border: 1px solid #0052D9;
}
ul.step li.active .step-content h4 {
    color: #0052D9;
}
.main-form {
    margin: 50px 0;
}
.main-form h4 {
    font-size: 18px;
    font-weight: 600;
}
.btn {
    border-radius: 5px;
    padding: 10px 30px;
}
.btn-primary {
    background: #0052D9 !important;
}
footer {
    margin-top: 50px;
    background: #FFF !important;
    text-align: center;
    padding: 20px;
    color: rgba(0,0,0,0.5);
    border-top: 1px solid #ddd;
}
.form-group-input {
    position: relative;
}
.file-upload::-webkit-file-upload-button {
    visibility: hidden;
}
.file-upload {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    width: 100%;
    border-radius: 5px;
    padding: 100px 0;
    color: transparent;
}
.file-upload::after {
    content: 'Unggah File';
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: rgba(0,0,0,0.25);
    margin-top: 35px;
}
.form-group-input span {
    position: absolute;
    top:30%;
    left: 48%;
    font-size: 50px;
    color: rgba(0, 0, 0, 0.25);
}
.preview-image {
    overflow: hidden;
    margin-top: 20px;
    width: 120px;
    height: 180px;
    text-align: center;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.25);
}
.preview-image img {
    border-radius: 5px;
}

.header, main{
    padding: 20px;
}

@media screen and (max-width:756px) {
    .breadcrumb-container h1 {
        font-size: 16pt;
    }

    .step {
        display: block !important;
    }

    ul.step li {
        padding-right: 0;
        margin-bottom: 20px;
    }
    
    ul.step li .step-border {
        display: none !important;
        visibility: hidden;
    }

    .logo a h1{
        width: 100%;
        font-size: 16px;
    }
    .main-body {
        padding: 20px;
    }
}