body {
    background: #f9f9f9;
}
main{
    min-height: 100vh;
    padding: 50px 0;
    width: 550px;
    margin: 0 auto;
}
.main-header h4 {
    font-weight: 400;
    margin: 0
}
.form-control-custom {
    background: #fff;
    width: 100%;
    border: 0;
    outline: none;
    padding: 0 20px 20px 20px;
}
.main-body label {
    width: 100%;
    background: #fff;
    font-size: 12px;
    color: rgba(0,0,0,0.5);
    padding: 20px 20px 10px 20px;
}
.main-footer {
    text-align: center;
    font-size: 11px;
}
.btn-primary {
    background: #0052D9 !important;
    transition: all 0.3s;
}
.btn-primary:hover {
    background: #0547b0 !important;
}
select {
    border: 0;
    width: 97% !important;
}
.form-group {
    background: #fff;
}

@media screen and (max-width:756px){
    .main {
        width: 100%;
    }
}